return require 'Q/UTILS/lua/code_gen' { 
declaration = [[
#include <stdbool.h>
#include <stdio.h>
#include <stdint.h>
#include <string.h>
#include "q_macros.h"
#include "is_valid_chars_for_num.h"

extern int
txt_to_${out_type_displ}(
      const char * const X,
      ${out_type} *ptr_out
      );

]],

definition = [[
#include "txt_to_${out_type_displ}.h"

//START_FUNC_DECL
int
txt_to_${out_type_displ}(
      const char * const X,
      ${out_type} *ptr_out
      )
//STOP_FUNC_DECL
{
  int status = 0;
  char *endptr;
  ${big_out_type} out;
  if ( ( X == NULL ) || ( *X == '\0' ) ) { go_BYE(-1); }
  if ( !is_valid_chars_for_num(X) ) { go_BYE(-1); }
  out = ${converter}(X, &endptr);
  if ( ( *endptr != '\0' ) && ( *endptr != '\n' ) ) { go_BYE(-1); }
  if ( endptr == X ) { go_BYE(-1); }
  if ( ( out < ${min_val} ) || ( out > ${max_val} ) ) { go_BYE(-1); }
  *ptr_out = (${out_type})out;
 BYE:
  return status ;
}
]]
}
